*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f7fc;
}

header{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:30px;
}

main{
    width:80%;
    max-width:900px;
    margin:30px auto;
}

.card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

input,
select{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

.filters{
    margin-bottom:20px;
}

.filters button{
    margin-right:10px;
}

ul{
    list-style:none;
}

li{
    background:#eef2ff;
    margin-top:10px;
    padding:12px;
    border-radius:8px;
}